<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div class='container' style="padding:2%">
        <div class="row">
            <div class="col-md-2">
                {% include "navbar.html" %}
            </div>
    		<div class="col-md-10">

                <!-- Preview Blog Post -->
                <h2>
                    <a href="#">{{article.title}}</a>
                </h2>
                <p>
                	<span class="glyphicon glyphicon-time"></span> {{article.published_date}} |
                	<a href="#">{{article.author.author_name}}</a></p>
                <img class="img-responsive" src="{{ article.hero_image.url }}" alt="">
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        {{ article.article_text | safe }}
                    </div>
                    {% if article.blog_image %}
                    <div class="col-md-4">
                        <a href="#">
                            <img class="img-responsive portfolio-item" src="{{ article.blog_image.url }}" alt="">
                        </a>
                    </div>
                    {% endif %}
                </div>

  				<div class="row">
		            <div class="col-md-12">
		                <h3 class="page-header">
		                	<span>Related Projects </span>
		                	<span class="pull-right">
			                	<a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a> |
			                	<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
		                	</span>
		                </h3>

		            </div>
                    {% include "relatedarticle.html" %}
		        </div>
            </div>

		</div>
	</div>
</body>
</html>