<div class="list-group">
					<a href="#" class="list-group-item text-center" style="min-height: 10%;padding-top: 15%;font-size: 2em;">
                        <span class="glyphicon glyphicon-user">
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;padding-top: 15%;font-size: 2em;">
                        <span class="glyphicon glyphicon-align-justify"> | <span class="glyphicon glyphicon-search">
                    </a>
                    <a href="#" class="list-group-item active text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                    <a href="#" class="list-group-item text-center" style="min-height: 10%;font-size: 1em;">
                        <span class="glyphicon glyphicon-picture">
                    </a>
</div>